[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
pyyaml = "*"
keyboard = "*"
pysimplegui = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipython = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
